<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773598118526-ocl9qa18lpu0v46m27c2bhbtdj69ep0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773598118526-ocl9qa18lpu0v46m27c2bhbtdj69ep0t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>773598118526-l34fa82s91chdmtviksfa08p3cbmiuug.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIAS5T6T2WnmlqqyjWo-09FbOrC4ss4ng</string>
	<key>GCM_SENDER_ID</key>
	<string>773598118526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-4d168</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-4d168.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773598118526:ios:50387af7c888bd29274e2f</string>
</dict>
</plist>